* {margin:0;padding:0}
body {background:#000;overflow:hidden}
select {position:absolute;right:0;margin:4px}
p {position:absolute;right:0;bottom:0;margin:4px;font-family:'Segoe UI','Roboto',arial,sans-serif;font-size:13px;color:#fff;}